<div>
  <a href="<%= user_path(current_user) %>">
    <%= gravatar_for current_user, :size => 30 %>
    <div class="span6">
      <%= current_user.name %>
    </div>
    <div class="span2"/>
    <div class="span4 microposts">
      <%= pluralize(current_user.microposts.count, "micropost") %>
    </span>
  </a>
</div>