<h1>About this app</h1>
<p>
To refresh my rails knowledge I  created the sample app from the
<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>. I styled my app with
<a href="http://twitter.github.com/bootstrap/index.html">Twitter Bootstrap</a>. To get startet with bootstrap watch 
<a href="http://railscasts.com/episodes/328-twitter-bootstrap-basics">Railscast episode #328</a> on Twitter Bootstrap basics.<br />
<br />
The source code is available on <a href="https://github.com/k-graefenhain/demo_app">github</a>.
</p>
<br />

<h2>Contact
<!-- ul class="subscribe horizontal pull-right" -->
<div class="btn-group pull-right">
  <a href="https://github.com/k-graefenhain"><img alt="github" height="34" src="/assets/octocat.png" width="34"></a>
  <span class="name">get source</span>
  <a href="http://twitter.com/k_graefenhain"><img alt="Twitter" height="34" src="/assets/twitter.png" width="34"></a>
  <span class="name">follow on Twitter</span>
  <a href="mailto:feedback.100.demoapp@spamgourmet.com" class="btn icon-envelope"></a>
  <span class="name">send mail</span>
</div>
</h2>
<p>
If you have any comments, suggestions, questions, etc. I'd love to hear them! Please send an email to 
<a href="mailto:feedback.100.demoapp@spamgourmet.com">feedback.100.demoapp@spamgourmet.com</a>.
</p>