<% if signed_in? %>
  <table summary="For signed-in users">
    <tbody>
      <tr>
        <div class="span6">
          <h2>What's up?</h2>
          <%= render 'shared/micropost_form' %>
        </div>
        <div class="sidebar user_info">
          <%= render 'shared/user_info' %>
        </div>
      </tr>
      <tr>
        <td><%= render 'shared/feed' %></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <h1>Sample App</h1>
  <p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "btn btn-large" %>
<% end %>